@import url('https://fonts.googleapis.com/css2?family=Itim&family=Noto+Sans+KR:wght@100..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  height: 100vh;
  text-align: center;
  place-items: center;
  background-image: url('images/game-title.jpg');
  background-size: cover;
  background-position: center;
  font-family: system-ui, sans-serif;
}

.itim-regular {
  font-family: "Itim", cursive;
  font-weight: 400;
  font-style: normal;
}

.btn{
  padding: 10px;
  font-size: 32px;
  background: transparent;
  border: none;
}

.btn-hover {
  text-decoration: underline;
}